<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="welcome_page_label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BubbleFrontEnd"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCiTiAYNlQBzi982O9zjL_lcnCpFgw2hdQ" />
        <activity
            android:name=".WelcomePage"
            android:exported="true"
            android:label="@string/welcome_page_label"
            android:theme="@style/Theme.BubbleFrontEnd">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegistrationPage"
            android:label="registration_page_label"
            android:theme="@style/Theme.BubbleFrontEnd">
        </activity>
        <activity
            android:name=".LoginPage"
            android:label="login_page_label"
            android:theme="@style/Theme.BubbleFrontEnd">
        </activity>

        <activity
            android:name=".ProfilePage"
            android:label="profile_page_label"
            android:theme="@style/Theme.BubbleFrontEnd">
        </activity> <activity
        android:name=".GlobalPage"
        android:label="global_page_label"
        android:theme="@style/Theme.BubbleFrontEnd">
        </activity>
        <activity
        android:name=".UserSearchPage"
        android:label="user_search_page_label"
        android:theme="@style/Theme.BubbleFrontEnd">
        </activity>

        <activity
            android:name=".SettingsPage"
            android:label="settings_page_label"
            android:theme="@style/Theme.BubbleFrontEnd">
        </activity>


    </application>

</manifest>
